:root {
  /* here variables goes */
  --color-primary: #cb5c47;
  --color-secondary: #8558C8;
}

/* importar bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

.btn--primary {
  color: var(--color-primary);
}
